In [4]:
import numpy as np

In [6]:
import pandas as pd

In [9]:
df=pd.read_csv(r"C:\Users\prave\OneDrive\TOP TECH DEVELOPERS\TASK2\financials.csv")

In [10]:
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014

In [12]:
df.iloc[0]

Segment                    Government
Country                        Canada
 Product                   Carretera
 Discount Band                  None
 Units Sold                $1,618.50
 Manufacturing Price           $3.00
 Sale Price                   $20.00
 Gross Sales              $32,370.00
 Discounts                      $-
  Sales                   $32,370.00
 COGS                     $16,185.00
 Profit                   $16,185.00
Date                       01/01/2014
Month Number                        1
 Month Name                  January
Year                             2014
Name: 0, dtype: object

In [13]:
df.loc[0]

Segment                    Government
Country                        Canada
 Product                   Carretera
 Discount Band                  None
 Units Sold                $1,618.50
 Manufacturing Price           $3.00
 Sale Price                   $20.00
 Gross Sales              $32,370.00
 Discounts                      $-
  Sales                   $32,370.00
 COGS                     $16,185.00
 Profit                   $16,185.00
Date                       01/01/2014
Month Number                        1
 Month Name                  January
Year                             2014
Name: 0, dtype: object

In [21]:
df['Segment']

0            Government
1            Government
2             Midmarket
3             Midmarket
4             Midmarket
             ...
695      Small Business
696      Small Business
697          Government
698          Government
699    Channel Partners
Name: Segment, Length: 700, dtype: object

In [40]:
df['Year'] = df['Year'] + 1

In [41]:
df.drop('Year', axis=1, inplace=True)

In [42]:
df.drop(0, axis=0, inplace=True)

In [48]:
df.sort_values('Month Number')

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January
497,Midmarket,Canada,Velo,High,$384.00,$120.00,$15.00,"$5,760.00",$633.60,"$5,126.40","$3,840.00","$1,286.40",01/01/2014,1,January
485,Enterprise,United States of America,Amarilla,High,$579.00,$260.00,$125.00,"$72,375.00","$7,237.50","$65,137.50","$69,480.00","$(4,342.50)",01/01/2014,1,January
467,Midmarket,Germany,Velo,High,$681.00,$120.00,$15.00,"$10,215.00","$1,021.50","$9,193.50","$6,810.00","$2,383.50",01/01/2014,1,January
428,Channel Partners,United States of America,VTT,Medium,"$1,956.00",$250.00,$12.00,"$23,472.00","$2,112.48","$21,359.52","$5,868.00","$15,491.52",01/01/2014,1,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,Channel Partners,Germany,Amarilla,High,"$1,770.00",$260.00,$12.00,"$21,240.00","$2,761.20","$18,478.80","$5,310.00","$13,168.80",01/12/2013,12,December
121,Channel Partners,France,Paseo,Low,"$1,055.00",$10.00,$12.00,"$12,660.00",$253.20,"$12,406.80","$3,165.00","$9,241.80",01/12/2014,12,December
122,Channel Partners,Mexico,Paseo,Low,"$1,084.00",$10.00,$12.00,"$13,008.00",$260.16,"$12,747.84","$3,252.00","$9,495.84",01/12/2014,12,December
261,Small Business,Germany,Velo,Medium,"$1,250.00",$120.00,$300.00,"$3,75,000.00","$18,750.00","$3,56,250.00","$3,12,500.00","$43,750.00",01/12/2014,12,December
381,Government,Mexico,Paseo,Medium,"$1,946.00",$10.00,$7.00,"$13,622.00","$1,089.76","$12,532.24","$9,730.00","$2,802.24",01/12/2013,12,December

In [49]:
df.sort_index()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June
5,Government,Germany,Carretera,None,"$1,513.00",$3.00,$350.00,"$5,29,550.00",$-,"$5,29,550.00","$3,93,380.00","$1,36,170.00",01/12/2014,12,December
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$7,42,500.00","$1,11,375.00","$6,31,125.00","$6,18,750.00","$12,375.00",01/03/2014,3,March
696,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$1,63,800.00","$24,570.00","$1,39,230.00","$1,36,500.00","$2,730.00",01/10/2014,10,October
697,Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",01/02/2014,2,February
698,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,01/04/2014,4,April
699,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",01/05/2014,5,May

In [64]:
df['Segment'] = [Government,None,Midmarket]

NameError: name 'Government' is not defined

In [54]:
df.isnull()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
696,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
697,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
698,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
699,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [71]:
df['Segment'].fillna(df['Segment'].mean(0), inplace=True)

TypeError: Could not convert string 'GovernmentMidmarketMidmarketMidmarketGovernmentMidmarketChannel PartnersGovernmentChannel PartnersMidmarketEnterpriseSmall BusinessGovernmentEnterpriseMidmarketGovernmentMidmarketChannel PartnersGovernmentChannel PartnersGovernmentMidmarketSmall BusinessMidmarketGovernmentGovernmentChannel PartnersMidmarketGovernmentGovernmentGovernmentEnterpriseChannel PartnersGovernmentChannel PartnersEnterpriseEnterpriseSmall BusinessChannel PartnersMidmarketMidmarketGovernmentSmall BusinessGovernmentGovernmentChannel PartnersEnterpriseGovernmentGovernmentChannel PartnersGovernmentMidmarketGovernmentMidmarketGovernmentGovernmentGovernmentChannel PartnersGovernmentGovernmentChannel PartnersEnterpriseChannel PartnersChannel PartnersSmall BusinessGovernmentGovernmentMidmarketSmall BusinessGovernmentGovernmentSmall BusinessEnterpriseMidmarketGovernmentEnterpriseEnterpriseEnterpriseMidmarketChannel PartnersSmall BusinessGovernmentGovernmentGovernmentEnterpriseEnterpriseGovernmentGovernmentGovernmentEnterpriseEnterpriseSmall BusinessSmall BusinessGovernmentEnterpriseChannel PartnersMidmarketEnterpriseChannel PartnersSmall BusinessGovernmentGovernmentChannel PartnersGovernmentChannel PartnersEnterpriseMidmarketSmall BusinessSmall BusinessChannel PartnersEnterpriseChannel PartnersEnterpriseEnterpriseChannel PartnersSmall BusinessGovernmentEnterpriseMidmarketGovernmentChannel PartnersChannel PartnersGovernmentGovernmentGovernmentEnterpriseEnterpriseChannel PartnersGovernmentChannel PartnersEnterpriseSmall BusinessGovernmentEnterpriseGovernmentGovernmentSmall BusinessSmall BusinessEnterpriseGovernmentGovernmentGovernmentSmall BusinessEnterpriseGovernmentSmall BusinessChannel PartnersChannel PartnersGovernmentChannel PartnersGovernmentGovernmentEnterpriseEnterpriseSmall BusinessEnterpriseChannel PartnersSmall BusinessEnterpriseChannel PartnersEnterpriseMidmarketEnterpriseEnterpriseEnterpriseSmall BusinessChannel PartnersEnterpriseSmall BusinessGovernmentMidmarketGovernmentGovernmentGovernmentChannel PartnersMidmarketMidmarketMidmarketGovernmentGovernmentSmall BusinessGovernmentMidmarketSmall BusinessGovernmentSmall BusinessEnterpriseGovernmentEnterpriseSmall BusinessSmall BusinessGovernmentEnterpriseMidmarketGovernmentGovernmentMidmarketMidmarketGovernmentEnterpriseChannel PartnersGovernmentGovernmentChannel PartnersGovernmentGovernmentMidmarketGovernmentEnterpriseGovernmentMidmarketGovernmentGovernmentGovernmentGovernmentGovernmentChannel PartnersChannel PartnersGovernmentGovernmentChannel PartnersGovernmentChannel PartnersChannel PartnersGovernmentSmall BusinessGovernmentMidmarketGovernmentGovernmentGovernmentEnterpriseGovernmentChannel PartnersSmall BusinessGovernmentEnterpriseEnterpriseSmall BusinessGovernmentSmall BusinessGovernmentMidmarketGovernmentGovernmentEnterpriseEnterpriseGovernmentGovernmentGovernmentMidmarketMidmarketMidmarketEnterpriseGovernmentGovernmentGovernmentEnterpriseEnterpriseGovernmentSmall BusinessGovernmentGovernmentGovernmentGovernmentGovernmentGovernmentGovernmentGovernmentGovernmentSmall BusinessMidmarketGovernmentMidmarketChannel PartnersChannel PartnersMidmarketGovernmentEnterpriseGovernmentGovernmentGovernmentChannel PartnersGovernmentChannel PartnersGovernmentEnterpriseEnterpriseMidmarketGovernmentGovernmentSmall BusinessGovernmentMidmarketGovernmentSmall BusinessGovernmentSmall BusinessEnterpriseGovernmentGovernmentGovernmentGovernmentGovernmentMidmarketMidmarketMidmarketGovernmentGovernmentGovernmentMidmarketChannel PartnersChannel PartnersGovernmentChannel PartnersChannel PartnersGovernmentMidmarketGovernmentGovernmentGovernmentChannel PartnersChannel PartnersGovernmentGovernmentGovernmentSmall BusinessSmall BusinessGovernmentSmall BusinessEnterpriseSmall BusinessSmall BusinessEnterpriseMidmarketMidmarketGovernmentSmall BusinessSmall BusinessChannel PartnersGovernmentSmall BusinessGovernmentEnterpriseGovernmentGovernmentSmall BusinessGovernmentChannel PartnersSmall BusinessSmall BusinessEnterpriseGovernmentEnterpriseGovernmentSmall BusinessGovernmentGovernmentGovernmentGovernmentEnterpriseMidmarketGovernmentMidmarketGovernmentGovernmentSmall BusinessSmall BusinessMidmarketEnterpriseGovernmentGovernmentGovernmentSmall BusinessGovernmentGovernmentGovernmentGovernmentGovernmentGovernmentGovernmentGovernmentChannel PartnersGovernmentGovernmentSmall BusinessSmall BusinessGovernmentGovernmentGovernmentGovernmentSmall BusinessSmall BusinessGovernmentGovernmentGovernmentSmall BusinessGovernmentMidmarketChannel PartnersSmall BusinessGovernmentSmall BusinessChannel PartnersSmall BusinessGovernmentSmall BusinessChannel PartnersEnterpriseGovernmentEnterpriseSmall BusinessSmall BusinessGovernmentMidmarketSmall BusinessMidmarketChannel PartnersSmall BusinessChannel PartnersEnterpriseMidmarketSmall BusinessGovernmentEnterpriseEnterpriseGovernmentChannel PartnersSmall BusinessGovernmentChannel PartnersSmall BusinessChannel PartnersMidmarketEnterpriseGovernmentGovernmentMidmarketGovernmentGovernmentGovernmentChannel PartnersGovernmentGovernmentGovernmentGovernmentChannel PartnersMidmarketGovernmentGovernmentGovernmentGovernmentMidmarketChannel PartnersChannel PartnersGovernmentChannel PartnersEnterpriseEnterpriseGovernmentEnterpriseMidmarketGovernmentSmall BusinessMidmarketGovernmentMidmarketMidmarketMidmarketGovernmentEnterpriseSmall BusinessGovernmentGovernmentEnterpriseSmall BusinessEnterpriseMidmarketGovernmentSmall BusinessSmall BusinessMidmarketEnterpriseGovernmentEnterpriseGovernmentSmall BusinessChannel PartnersGovernmentChannel PartnersGovernmentMidmarketSmall BusinessChannel PartnersGovernmentChannel PartnersMidmarketChannel PartnersGovernmentChannel PartnersMidmarketChannel PartnersChannel PartnersGovernmentSmall BusinessEnterpriseMidmarketGovernmentGovernmentGovernmentMidmarketSmall BusinessGovernmentGovernmentChannel PartnersChannel PartnersGovernmentMidmarketEnterpriseGovernmentSmall BusinessGovernmentMidmarketGovernmentGovernmentChannel PartnersEnterpriseGovernmentEnterpriseGovernmentEnterpriseEnterpriseGovernmentMidmarketGovernmentGovernmentEnterpriseEnterpriseMidmarketMidmarketSmall BusinessGovernmentGovernmentGovernmentSmall BusinessSmall BusinessGovernmentEnterpriseGovernmentGovernmentGovernmentSmall BusinessSmall BusinessGovernmentMidmarketGovernmentGovernmentGovernmentGovernmentChannel PartnersMidmarketGovernmentGovernmentEnterpriseGovernmentGovernmentGovernmentGovernmentMidmarketGovernmentChannel PartnersGovernmentGovernmentGovernmentChannel PartnersMidmarketMidmarketGovernmentGovernmentGovernmentGovernmentGovernmentChannel PartnersGovernmentGovernmentGovernmentSmall BusinessGovernmentGovernmentGovernmentEnterpriseChannel PartnersGovernmentMidmarketGovernmentGovernmentChannel PartnersMidmarketGovernmentGovernmentChannel PartnersMidmarketChannel PartnersSmall BusinessChannel PartnersEnterpriseMidmarketEnterpriseGovernmentChannel PartnersChannel PartnersGovernmentGovernmentGovernmentGovernmentGovernmentGovernmentMidmarketGovernmentMidmarketChannel PartnersGovernmentChannel PartnersChannel PartnersSmall BusinessEnterpriseSmall BusinessSmall BusinessMidmarketMidmarketEnterpriseGovernmentGovernmentGovernmentGovernmentGovernmentMidmarketGovernmentMidmarketMidmarketChannel PartnersGovernmentGovernmentChannel PartnersGovernmentGovernmentEnterpriseGovernmentSmall BusinessSmall BusinessSmall BusinessGovernmentSmall BusinessSmall BusinessSmall BusinessSmall BusinessGovernmentSmall BusinessEnterpriseChannel PartnersMidmarketChannel PartnersGovernmentGovernmentMidmarketEnterpriseEnterpriseEnterpriseSmall BusinessGovernmentMidmarketGovernmentGovernmentMidmarketGovernmentEnterpriseMidmarketGovernmentGovernmentChannel PartnersGovernmentChannel PartnersMidmarketEnterpriseSmall BusinessEnterpriseChannel PartnersGovernmentMidmarketGovernmentMidmarketEnterpriseEnterpriseGovernmentSmall BusinessSmall BusinessGovernmentGovernmentChannel Partners' to numeric

In [74]:
df1 = pd.DataFrame({'ID':[1,2,3], 'Name':['A','B','C']})
df2 = pd.DataFrame({'ID':[1,2,3], 'Marks':[90,85,95]})

In [75]:
pd.merge(df1, df2, on='ID')

   ID Name  Marks
0   1    A     90
1   2    B     85
2   3    C     95

In [76]:
pd.concat([df1, df2], axis=0)

   ID Name  Marks
0   1    A    NaN
1   2    B    NaN
2   3    C    NaN
0   1  NaN   90.0
1   2  NaN   85.0
2   3  NaN   95.0

In [77]:
df.to_excel('output.xlsx', index=False)     
df.to_json('output.json', orient='records')